.portfolioTitle{
    font-size: 9vh;
}

.subTitle{
    padding: 0;
    font-size: 20px;
    line-height: 1.5em;
    color: #3d3d3d;
    font-weight: 200;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.column img{
    width: 100%;
}

@media only screen and (max-width: 428px) {
    .column {
        width: 100%;
    }
}

.linkToContact{
    margin-top: 5vh;
    text-align: center;
}

.linkToContact a{
    text-decoration: none;
    transition: all 0.35s ease-in-out;
}

.linkToContact a:hover{
    font-weight: normal;
    opacity: .6;
}

.projects{
    margin-top: 5vh;
}