.contactForm{
    display: inline-block;
    width: 100%;
}

.formSection{
    padding: 1vh 0 1vh 0;
    font-family: "Arial Unicode MS";
}

.formSection input{
    width: 100%;
    padding: 1vh;
    border: 2px solid #e0e0e0;
    min-height: 6vh;
}

.messageArea textarea{
    min-height: 40vh;
    width: 100%;
    padding: 1vh;
    border: 2px solid #e0e0e0;
}

.submittedText{
    font-size: 2vh;
    font-weight: 200;
    margin-top: 1vh;
}