.buttonStyle{
    background-color: #2f2f2f;
    color: white;
    border-style: none;
    border-radius: 10px;
    padding: 1vh;
    min-width: 10vh;
}

.buttonStyle:hover{
    opacity: .8;
    /*scale: 1.05;*/
}